<a href="https://colab.research.google.com/github/sevinc-elif/ALSforRecommendationSystem/blob/main/ALSforRecommendationSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Spark ı Colab a ekleme

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [5]:
#veri setini aktarma
data=spark.read.option("delimiter",";").csv('/content/drive/MyDrive/BTK/MarketSales_20220215.csv',header=True,inferSchema=True)

In [6]:
#verinin şemasını inceleme
data.printSchema()

root
 |-- ID: string (nullable = true)
 |-- ITEMNAME: string (nullable = true)
 |-- DATE_: string (nullable = true)
 |-- AMOUNT: double (nullable = true)
 |-- PRICE: double (nullable = true)
 |-- LINENETTOTAL: double (nullable = true)
 |-- BRANCHNR: integer (nullable = true)
 |-- BRANCH: string (nullable = true)
 |-- SALESMAN: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- REGION: string (nullable = true)
 |-- CLIENTCODE: string (nullable = true)
 |-- CLIENTNAME: string (nullable = true)
 |-- BRANDCODE: string (nullable = true)
 |-- BRAND: string (nullable = true)
 |-- CATEGORY_NAME1: string (nullable = true)
 |-- CATEGORY_NAME2: string (nullable = true)
 |-- CATEGORY_NAME3: string (nullable = true)
 |-- STARTDATE: string (nullable = true)
 |-- ENDDATE: string (nullable = true)
 |-- GENDER: string (nullable = true)

In [7]:
#veriyi görüntüleme
data.show(truncate=False)

+-----+--------------------------------------+--------------+------+-----+------------+--------+----------------+------------------+---------+-----------------+----------+----------------+---------+--------------+---------------+---------------+------------------+--------------+--------------+------+
|ID   |ITEMNAME                              |DATE_         |AMOUNT|PRICE|LINENETTOTAL|BRANCHNR|BRANCH          |SALESMAN          |CITY     |REGION           |CLIENTCODE|CLIENTNAME      |BRANDCODE|BRAND         |CATEGORY_NAME1 |CATEGORY_NAME2 |CATEGORY_NAME3    |STARTDATE     |ENDDATE       |GENDER|
+-----+--------------------------------------+--------------+------+-----+------------+--------+----------------+------------------+---------+-----------------+----------+----------------+---------+--------------+---------------+---------------+------------------+--------------+--------------+------+
|11738|SPRITE 1 LT LIMON AROMALI GAZOZ       |07/01/17 00:00|1.0   |2.0  |2.0         |52      |Kocaeli Subesi  |Ey�p C�NE         |Kocaeli  |Marmara          |467369    |Sercan KIZILOK  |156      |SPR�TE        |��ECEK         |GAZLI ��ECEK   |GAZOZ             |08/01/17 16:16|08/01/17 16:17|E     |
|10537|TOZ SEKER                             |06/01/17 00:00|5.0   |2.65 |13.25       |8       |Antalya Subesi  |�lhan �RENL�      |Antalya  |Akdeniz          |131464    |�smet �INGIR    |NULL     |NULL          |��ECEK         |�AY KAHVE      |SEKER TATLANDIRICI|07/01/17 11:04|07/01/17 11:05|E     |
|11335|FALIM SAKIZ 5LI NANE                  |03/01/17 00:00|1.0   |0.4  |0.4         |40      |�stanbul Subesi |�smet SARTIK      |�stanbul |Marmara          |656969    |Ya��z KUBAL     |300      |FALIM         |GIDA           |SAKIZ SEKERLEME|SAKIZ             |04/01/17 14:00|04/01/17 14:01|E     |
|11336|FALIM SAKIZ 5LI NANE                  |03/01/17 00:00|1.0   |0.4  |0.4         |40      |�stanbul Subesi |�smet SARTIK      |�stanbul |Marmara          |656969    |Ya��z KUBAL     |300      |FALIM         |GIDA           |SAKIZ SEKERLEME|SAKIZ             |04/01/17 14:00|04/01/17 14:01|E     |
|10115|FALIM SAKIZ 5LI CILEK                 |05/01/17 00:00|1.0   |0.4  |0.4         |41      |�zmir Subesi    |G�lten I�LAK      |�zmir    |Ege              |447336    |Habibe AYSAN    |300      |FALIM         |GIDA           |SAKIZ SEKERLEME|SAKIZ             |06/01/17 14:00|06/01/17 14:01|K     |
|10649|TOZ SEKER                             |06/01/17 00:00|2.0   |2.65 |5.3         |29      |Elaz�� Subesi   |Serap CARAN       |Elaz��   |Do�u Anadolu     |9485      |G�rkem BALTAOGLU|NULL     |NULL          |��ECEK         |�AY KAHVE      |SEKER TATLANDIRICI|07/01/17 15:40|07/01/17 15:41|E     |
|11845|F NEFFIS TOZ SEKER 2 KG               |07/01/17 00:00|1.0   |5.6  |5.6         |55      |Malatya Subesi  |G�lcan D�ZGE�     |Malatya  |Do�u Anadolu     |5481      |Asel L�LEC�O�LU |49       | F NEFF�S     |��ECEK         |�AY KAHVE      |SEKER TATLANDIRICI|08/01/17 17:20|08/01/17 17:21|K     |
|11348|TOZ SEKER                             |03/01/17 00:00|2.0   |2.65 |5.3         |40      |�stanbul Subesi |Arife DORAP       |�stanbul |Marmara          |144939    |Efe HAN�AR      |NULL     |NULL          |��ECEK         |�AY KAHVE      |SEKER TATLANDIRICI|04/01/17 14:40|04/01/17 14:42|E     |
|10545|TOZ SEKER                             |06/01/17 00:00|2.0   |2.65 |5.3         |56      |Manisa Subesi   |Adil ONDIN        |Manisa   |Ege              |7874      |Melisa G���N    |NULL     |NULL          |��ECEK         |�AY KAHVE      |SEKER TATLANDIRICI|07/01/17 11:08|07/01/17 11:08|K     |
|11411|F NEFFIS KESME SEKER 1 KG             |03/01/17 00:00|1.0   |2.85 |2.85        |59      |Mu�la Subesi    |Remziye KES�M     |Mu�la    |Ege              |784782    |��kran COMART   |49       | F NEFF�S     |��ECEK         |�AY KAHVE      |SEKER TATLANDIRICI|04/01/17 15:56|04/01/17 15:57|K     |
|10472|KENT TOPITOP DISNEY CILEK KARPUZ 6 AD |05/01/17 00:00|1.0   |1.6  |1.6         |60      |Mu� Subesi      |Melisa KOZGAR     |Mu�      |Do�u Anadolu     |771816    |Aynur KOZGAR    |79       |KENT          |GIDA           |SAKIZ SEKERLEME|�EKERLEME         |06/01/17 18:44|06/01/17 18:45|K     |
|10304|VIVIDENT CZD FRUIT SWING 14 ADET 26 GR|05/01/17 00:00|1.0   |1.95 |1.95        |1       |Adana Subesi    |Ramazan SARIMEHMET|Adana    |Akdeniz          |630399    |Rahime KASAP    |148      |V�V�DENT      |GIDA           |SAKIZ SEKERLEME|SAKIZ             |06/01/17 19:52|06/01/17 19:52|K     |
|324  |LAVACHE QUIRIT UCGEN PEYNIR           |02/01/17 00:00|1.0   |3.45 |3.45        |66      |Sakarya Subesi  |�lker BALO�LU     |Sakarya  |Marmara          |600916    |Zeki �ALO       |198      |LAVACHE-KARPER|S�T KAHVALTILIK|PEYN�R         |NULL              |03/01/17 15:00|03/01/17 15:02|E     |
|9660 |KIRMIZI BIBER                         |06/01/17 00:00|0.235 |4.95 |1.16        |81      |Zonguldak Subesi|Arzu KARAK�TAPO�LU|Zonguldak|Karadeniz        |575194    |H�meyra VEZN�KL�|A25      |HAL           |MEYVE SEBZE    |SEBZE          |NULL              |07/01/17 12:52|07/01/17 12:53|K     |
|9662 |CERI DOMATES                          |06/01/17 00:00|0.76  |4.75 |3.61        |81      |Zonguldak Subesi|Arzu KARAK�TAPO�LU|Zonguldak|Karadeniz        |575194    |H�meyra VEZN�KL�|A25      |HAL           |MEYVE SEBZE    |SEBZE          |NULL              |07/01/17 12:52|07/01/17 12:53|K     |
|9625 |SALKIM DOMATES                        |06/01/17 00:00|0.945 |5.2  |4.91        |12      |Bal�kesir Subesi|Sami KASIMOVA     |Bal�kesir|Ege              |74884     |Miray KO�O�LU   |A25      |HAL           |MEYVE SEBZE    |SEBZE          |NULL              |07/01/17 11:12|07/01/17 11:13|K     |
|9748 |PATATES                               |06/01/17 00:00|2.79  |2.45 |6.84        |12      |Bal�kesir Subesi|Sami KASIMOVA     |Bal�kesir|Ege              |521495    |Bilal PORSUK    |A25      |HAL           |MEYVE SEBZE    |SEBZE          |NULL              |07/01/17 14:28|07/01/17 14:29|E     |
|9852 |SALKIM DOMATES                        |06/01/17 00:00|0.745 |5.2  |3.87        |48      |K�r�kkale Subesi|Sami �AYKARA      |K�r�kkale|�� Anadolu       |318719    |Hakan �ZKUTEN   |A25      |HAL           |MEYVE SEBZE    |SEBZE          |NULL              |07/01/17 16:28|07/01/17 16:29|E     |
|5191 |PATATES                               |05/01/17 00:00|1.235 |2.45 |3.03        |33      |Gaziantep Subesi|Dilan BAK�R       |Gaziantep|G�neydo�u Anadolu|522358    |Neslihan �AM�L  |A25      |HAL           |MEYVE SEBZE    |SEBZE          |NULL              |06/01/17 11:04|06/01/17 11:04|K     |
|3734 |MAGGI CORBA KREMALI MANTAR            |05/01/17 00:00|1.0   |0.85 |0.85        |33      |Gaziantep Subesi|Dilan BAK�R       |Gaziantep|G�neydo�u Anadolu|18004     |�layda AKSOYLU  |90       |MAGG�         |GIDA           |CORBA BULYON   |CORBALAR          |06/01/17 13:16|06/01/17 13:18|K     |
+-----+--------------------------------------+--------------+------+-----+------------+--------+----------------+------------------+---------+-----------------+----------+----------------+---------+--------------+---------------+---------------+------------------+--------------+--------------+------+
only showing top 20 rows

In [8]:
#veri setindeki satır sayısı
data.count()

611116

In [9]:
# ITEMNAME ve CLIENTNAME sütunlarında boş olan satırları temizleme
data = data.dropna(subset=['ITEMNAME', 'CLIENTNAME'])

In [10]:
#temizlenen veri setindeki satır sayısı
data.count()

585796

In [11]:
#string değerler içerdiği için müşteri kodu sütununu silme
data=data.drop('CLIENTCODE')

In [12]:
#pandas işlemleri için kütüphaneyi import etme
import pandas as pd

In [13]:
#veriyi pandas a çevirme
data = data.toPandas()

# ITEMNAME sütununa dayalı benzersiz bir ITEMCODE sütunu oluşturma
data['ITEMCODE'] = pd.factorize(data['ITEMNAME'])[0]

# Yeni veri setini görüntüleme
print(data[['ITEMNAME', 'ITEMCODE']])

                               ITEMNAME  ITEMCODE
0       SPRITE 1 LT LIMON AROMALI GAZOZ         0
1                             TOZ SEKER         1
2                  FALIM SAKIZ 5LI NANE         2
3                  FALIM SAKIZ 5LI NANE         2
4                 FALIM SAKIZ 5LI CILEK         3
...                                 ...       ...
585791                     EKMEK 250 GR       436
585792                     EKMEK 250 GR       436
585793                     EKMEK 250 GR       436
585794                     EKMEK 250 GR       436
585795           ETI 80 GR KARAM BITTER       403

[585796 rows x 2 columns]

In [14]:
# CLIENTNAME sütununa dayalı benzersiz bir CLIENTCODE sütunu oluşturma
data['CLIENTCODE'] = pd.factorize(data['CLIENTNAME'])[0]

# Yeni veri setini görüntüleme
print(data[['CLIENTNAME', 'CLIENTCODE']])

              CLIENTNAME  CLIENTCODE
0         Sercan KIZILOK           0
1           �smet �INGIR           1
2            Ya��z KUBAL           2
3            Ya��z KUBAL           2
4           Habibe AYSAN           3
...                  ...         ...
585791   Mahmut BAYATG�L       10480
585792       Gamze BOTU�       36105
585793  Cengiz BEREKET��       32954
585794  Elifnur EG�NKAYA       48454
585795    Hacer CANDEM�R       35802

[585796 rows x 2 columns]

In [15]:
#veriyi görüntüleme
data.head()

,ID,ITEMNAME,DATE_,AMOUNT,PRICE,LINENETTOTAL,BRANCHNR,BRANCH,SALESMAN,CITY,...,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER,ITEMCODE,CLIENTCODE
0,11738,SPRITE 1 LT LIMON AROMALI GAZOZ,07/01/17 00:00,1.0,2.00,2.00,52,Kocaeli Subesi,Ey�p C�NE,Kocaeli,...,156,SPR�TE,��ECEK,GAZLI ��ECEK,GAZOZ,08/01/17 16:16,08/01/17 16:17,E,0,0
1,10537,TOZ SEKER,06/01/17 00:00,5.0,2.65,13.25,8,Antalya Subesi,�lhan �RENL�,Antalya,...,None,None,��ECEK,�AY KAHVE,SEKER TATLANDIRICI,07/01/17 11:04,07/01/17 11:05,E,1,1
2,11335,FALIM SAKIZ 5LI NANE,03/01/17 00:00,1.0,0.40,0.40,40,�stanbul Subesi,�smet SARTIK,�stanbul,...,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,04/01/17 14:00,04/01/17 14:01,E,2,2
3,11336,FALIM SAKIZ 5LI NANE,03/01/17 00:00,1.0,0.40,0.40,40,�stanbul Subesi,�smet SARTIK,�stanbul,...,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,04/01/17 14:00,04/01/17 14:01,E,2,2
4,10115,FALIM SAKIZ 5LI CILEK,05/01/17 00:00,1.0,0.40,0.40,41,�zmir Subesi,G�lten I�LAK,�zmir,...,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,06/01/17 14:00,06/01/17 14:01,K,3,3

Warning: Total number of columns (22) exceeds max_columns (20) limiting to first (20) columns.

In [16]:
#ALS algoritması ve doğruluk değeri için gerekli kütüphaneleri import etme
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator

In [17]:
#veriyi tekrar spark a çevirme
data = spark.createDataFrame(data)

In [18]:
#verideki benzersiz müşteri sayısı
data.select("CLIENTCODE").distinct().count()

52703

In [19]:
#verideki benzersiz item sayısı
data.select("ITEMCODE").distinct().count()

9266

In [44]:
# Müşteri ve ürün bazında satın alma sayısını hesaplama
rating_df = data.groupBy("CLIENTCODE", "ITEMCODE").count().withColumnRenamed("count", "RATING")

# Mevcut DataFrame ile birleştirerek yeni sütunu ekleme
data = data.join(rating_df, on=["CLIENTCODE", "ITEMCODE"], how="left")
data.show()

+----------+--------+------+--------------------+--------------+------+-----+------------+--------+-----------------+------------------+----------+-----------------+------------------+---------+---------+---------------+---------------+------------------+--------------+--------------+------+------+
|CLIENTCODE|ITEMCODE|    ID|            ITEMNAME|         DATE_|AMOUNT|PRICE|LINENETTOTAL|BRANCHNR|           BRANCH|          SALESMAN|      CITY|           REGION|        CLIENTNAME|BRANDCODE|    BRAND| CATEGORY_NAME1| CATEGORY_NAME2|    CATEGORY_NAME3|     STARTDATE|       ENDDATE|GENDER|RATING|
+----------+--------+------+--------------------+--------------+------+-----+------------+--------+-----------------+------------------+----------+-----------------+------------------+---------+---------+---------------+---------------+------------------+--------------+--------------+------+------+
|         1|       1| 10537|           TOZ SEKER|06/01/17 00:00|   5.0| 2.65|       13.25|       8|   Antalya Subesi|      �lhan �RENL�|   Antalya|          Akdeniz|      �smet �INGIR|     NULL|     NULL|         ��ECEK|      �AY KAHVE|SEKER TATLANDIRICI|07/01/17 11:04|07/01/17 11:05|     E|     1|
|         3|       3| 10115|FALIM SAKIZ 5LI C...|05/01/17 00:00|   1.0|  0.4|         0.4|      41|     �zmir Subesi|      G�lten I�LAK|     �zmir|              Ege|      Habibe AYSAN|      300|    FALIM|           GIDA|SAKIZ SEKERLEME|             SAKIZ|06/01/17 14:00|06/01/17 14:01|     K|     1|
|         6|       1| 11348|           TOZ SEKER|03/01/17 00:00|   2.0| 2.65|         5.3|      40|  �stanbul Subesi|       Arife DORAP|  �stanbul|          Marmara|        Efe HAN�AR|     NULL|     NULL|         ��ECEK|      �AY KAHVE|SEKER TATLANDIRICI|04/01/17 14:40|04/01/17 14:42|     E|     1|
|         7|       1| 10545|           TOZ SEKER|06/01/17 00:00|   2.0| 2.65|         5.3|      56|    Manisa Subesi|        Adil ONDIN|    Manisa|              Ege|      Melisa G���N|     NULL|     NULL|         ��ECEK|      �AY KAHVE|SEKER TATLANDIRICI|07/01/17 11:08|07/01/17 11:08|     K|     1|
|         8|       5| 11411|F NEFFIS KESME SE...|03/01/17 00:00|   1.0| 2.85|        2.85|      59|     Mu�la Subesi|     Remziye KES�M|     Mu�la|              Ege|     ��kran COMART|       49| F NEFF�S|         ��ECEK|      �AY KAHVE|SEKER TATLANDIRICI|04/01/17 15:56|04/01/17 15:57|     K|     1|
|        10|       7| 10304|VIVIDENT CZD FRUI...|05/01/17 00:00|   1.0| 1.95|        1.95|       1|     Adana Subesi|Ramazan SARIMEHMET|     Adana|          Akdeniz|      Rahime KASAP|      148| V�V�DENT|           GIDA|SAKIZ SEKERLEME|             SAKIZ|06/01/17 19:52|06/01/17 19:52|     K|     1|
|        13|      11|  9625|      SALKIM DOMATES|06/01/17 00:00| 0.945|  5.2|        4.91|      12| Bal�kesir Subesi|     Sami KASIMOVA| Bal�kesir|              Ege|     Miray KO�O�LU|      A25|      HAL|    MEYVE SEBZE|          SEBZE|              NULL|07/01/17 11:12|07/01/17 11:13|     K|     1|
|        14|      12|  9748|             PATATES|06/01/17 00:00|  2.79| 2.45|        6.84|      12| Bal�kesir Subesi|     Sami KASIMOVA| Bal�kesir|              Ege|      Bilal PORSUK|      A25|      HAL|    MEYVE SEBZE|          SEBZE|              NULL|07/01/17 14:28|07/01/17 14:29|     E|     1|
|        15|      11|  9852|      SALKIM DOMATES|06/01/17 00:00| 0.745|  5.2|        3.87|      48| K�r�kkale Subesi|      Sami �AYKARA| K�r�kkale|       �� Anadolu|     Hakan �ZKUTEN|      A25|      HAL|    MEYVE SEBZE|          SEBZE|              NULL|07/01/17 16:28|07/01/17 16:29|     E|     1|
|      4983|    2479|256173|FILIZ MAKARNA KIS...|10/02/17 00:00|   1.0| 1.15|        1.15|      26|Diyarbak�r Subesi|       Beyza SABAS|Diyarbak�r|G�neydo�u Anadolu|        Azad �AVAN|       52|    F�L�Z|           GIDA|        MAKARNA|          MAKARNA |11/02/17 10:57|11/02/17 11:00|     E|     1|
|     16005|    3547|251855|ULKER HOBBY KREM ...|10/02/17 00:00|   1.0| 5.95|        5.95|      47|   Kayseri Subesi|     Saniye GER�EK|   Kayseri|       �� Anadolu|        Cem KARPAK|      146|    �LKER|S�T KAHVALTILIK|    KAHVALTILIK|     KREM ��KOLATA|11/02/17 19:54|11/02/17 19:55|     E|     1|
|     16841|      22|249928|            KIVIRCIK|09/02/17 00:00|   1.0| 1.25|        1.25|      14|    Batman Subesi|     Berat M�LAY�M|    Batman|G�neydo�u Anadolu|       Semih VERAL|      A25|      HAL|    MEYVE SEBZE|          SEBZE|              NULL|10/02/17 13:57|10/02/17 13:59|     E|     1|
|     19292|    1774|256068|      HD BLUE SIGARA|10/02/17 00:00|   1.0|  5.0|         5.0|      40|  �stanbul Subesi|       Dilan �ALAR|  �stanbul|          Marmara|Elif su G�C�YETMEZ|      231|    V�GOR|         S�GARA|           NULL|              NULL|11/02/17 15:42|11/02/17 15:42|     K|     1|
|     20757|      64|255720|YAHYAOGLU 15 LI Y...|10/02/17 00:00|   1.0| 4.85|        4.85|      12| Bal�kesir Subesi|     Neriman BEYAZ| Bal�kesir|              Ege|Fatma zehra TERKES|      341|YAHYAO�LU|S�T KAHVALTILIK|        YUMURTA|              NULL|11/02/17 17:54|11/02/17 17:55|     K|     1|
|     23261|      12|252299|             PATATES|10/02/17 00:00|  2.23|  2.7|        6.02|      52|   Kocaeli Subesi|     Nihal SERMEST|   Kocaeli|          Marmara|       Arda BOLATA|      A25|      HAL|    MEYVE SEBZE|          SEBZE|              NULL|11/02/17 13:36|11/02/17 13:38|     E|     1|
|     23261|    3350|252297|         SOKE UN 5KG|10/02/17 00:00|   1.0| 9.99|        9.99|      52|   Kocaeli Subesi|     Nihal SERMEST|   Kocaeli|          Marmara|       Arda BOLATA|      133|     S�KE|           GIDA|  UNLU MAM�LLER|                UN|11/02/17 13:36|11/02/17 13:38|     E|     1|
|     24659|      69|251625|YAHYAOGLU 30 LU B...|10/02/17 00:00|   1.0|  9.5|         9.5|      40|  �stanbul Subesi|      �smet SARTIK|  �stanbul|          Marmara| Perihan NASIRO�LU|      341|YAHYAO�LU|S�T KAHVALTILIK|        YUMURTA|              NULL|11/02/17 18:06|11/02/17 18:07|     K|     1|
|     24675|      15|255811|             DOMATES|10/02/17 00:00| 0.415|  1.6|        0.66|       1|     Adana Subesi|     Mahir B�LEK��|     Adana|          Akdeniz|�rem FERAH�A�IRGAN|      A25|      HAL|    MEYVE SEBZE|          SEBZE|              NULL|11/02/17 18:33|11/02/17 18:33|     K|     1|
|     24688|      18|256015|            SARIMSAK|10/02/17 00:00|   0.2|12.25|        2.45|      25|   Denizli Subesi|     Ferhat YELKEN|   Denizli|              Ege|        ��kr� �R��|      A25|      HAL|    MEYVE SEBZE|          SEBZE|              NULL|11/02/17 14:39|11/02/17 14:42|     E|     1|
|     42873|      12|255554|             PATATES|10/02/17 00:00|  1.76|  2.7|        4.75|      40|  �stanbul Subesi|       Arife DORAP|  �stanbul|          Marmara|   Meliha ECZANAS�|      A25|      HAL|    MEYVE SEBZE|          SEBZE|              NULL|11/02/17 16:27|11/02/17 16:27|     K|     1|
+----------+--------+------+--------------------+--------------+------+-----+------------+--------+-----------------+------------------+----------+-----------------+------------------+---------+---------+---------------+---------------+------------------+--------------+--------------+------+------+
only showing top 20 rows

In [50]:
#bir müşterinin bir ürünü en fazla kaç kere aldığını gösterme
data.select("RATING").distinct().count()

14

In [45]:
#Veri setinden algoritmada kullanılacak ilgili alanları yeni bir veri setine atama
data_=data.select("CLIENTCODE","ITEMCODE","RATING")

In [46]:
#Bu veri setini eğitim ve test olarak bölme
trainDF,testDF=data_.randomSplit([0.8,0.2])

In [32]:
#eğitim veri sayısı
trainDF.count()

468593

In [33]:
#test veri sayısı
testDF.count()

117203

In [48]:
#ALS fonksiyonuna gerekli parametreleri verme
als=ALS(userCol="CLIENTCODE",itemCol="ITEMCODE",ratingCol="RATING",coldStartStrategy="drop",nonnegative=True)

In [49]:
#Modeli eğitme
model=als.fit(trainDF)

In [51]:
#Test veri setinden tahminler oluşturma
predict=model.transform(testDF)

In [52]:
#Tahminleri görüntüleme
predict.show()

+----------+--------+------+----------+
|CLIENTCODE|ITEMCODE|RATING|prediction|
+----------+--------+------+----------+
|       463|     411|     1| 1.0109797|
|       471|     422|     2| 1.3669574|
|       471|     644|     1| 1.6594344|
|       471|     772|     1| 1.1131002|
|       471|    1104|     3|  1.520147|
|       471|    1193|     1| 0.9181811|
|       496|     422|     2| 1.3322736|
|       496|     804|     1| 1.2149088|
|       833|      44|     1| 1.1818179|
|      1088|      55|     1|0.87515235|
|      1088|    1534|     1|0.86440444|
|      1088|    3895|     1| 1.1466732|
|      1238|      61|     1| 1.0293196|
|      1238|     345|     1| 1.0350469|
|      1238|    5028|     1|  1.361135|
|      1342|    2023|     1| 1.2323959|
|      1580|      46|     1| 0.9653956|
|      1580|     259|     1| 1.1444203|
|      1580|     614|     1| 1.0797535|
|      1580|    3133|     1| 0.9721114|
+----------+--------+------+----------+
only showing top 20 rows

In [53]:
#Modelin doğruluğunu inceleme
evaluator=RegressionEvaluator(metricName="rmse",labelCol="RATING",predictionCol="prediction")

In [54]:
rmse=evaluator.evaluate(predict)

In [55]:
#hata oranı
rmse

0.4075867330420228

In [58]:
#hata oranının büyüklüğünü anlayabilmek için ratinglerin ortalamasının yazdırılması
data.select('RATING').agg({'RATING':'mean'}).show()

+------------------+
|       avg(RATING)|
+------------------+
|1.2486155590000614|
+------------------+

In [57]:
#Her bir müşteriye özel 3 ürün önerisi
model.recommendForAllUsers(numItems=3).show(truncate=False)

+----------+---------------------------------------------------------+
|CLIENTCODE|recommendations                                          |
+----------+---------------------------------------------------------+
|1         |[{9150, 2.9310951}, {8061, 2.9172232}, {3765, 2.7226257}]|
|3         |[{5970, 2.4674907}, {9150, 2.4522004}, {8061, 2.4387717}]|
|5         |[{5433, 3.6706877}, {2576, 3.4692152}, {3765, 3.0720844}]|
|6         |[{8061, 3.2314706}, {4784, 3.0319357}, {9150, 2.843273}] |
|9         |[{8061, 3.6143997}, {1123, 3.3655148}, {5970, 3.2508407}]|
|12        |[{8061, 2.5666249}, {9150, 2.4917092}, {3765, 2.3000653}]|
|13        |[{8061, 2.4886265}, {9150, 2.405911}, {3765, 2.22077}]   |
|15        |[{9150, 2.37844}, {8061, 2.236093}, {3765, 2.124254}]    |
|16        |[{8061, 4.3504963}, {9150, 3.633235}, {9002, 3.567014}]  |
|17        |[{9150, 3.5915532}, {8061, 3.4470344}, {3765, 3.2099156}]|
|19        |[{3025, 4.9095936}, {2498, 4.3756824}, {9150, 4.3262024}]|
|20        |[{7921, 4.8668194}, {4960, 4.3675284}, {9150, 4.337264}] |
|22        |[{8061, 2.4576874}, {9150, 2.3568242}, {3765, 2.1174786}]|
|26        |[{8061, 2.5796704}, {9150, 2.5546324}, {3765, 2.37921}]  |
|27        |[{8061, 2.913594}, {5311, 2.6425254}, {8310, 2.6250434}] |
|28        |[{9150, 2.9364648}, {8061, 2.886579}, {8310, 2.8437583}] |
|31        |[{8061, 3.9121754}, {2914, 3.6323009}, {3864, 3.2540703}]|
|34        |[{8061, 2.792387}, {2914, 2.7502244}, {4784, 2.5324168}] |
|35        |[{8061, 3.149158}, {2914, 2.7159624}, {9150, 2.4531431}] |
|37        |[{8061, 2.3265746}, {1123, 2.1541967}, {9150, 2.1264718}]|
+----------+---------------------------------------------------------+
only showing top 20 rows